 * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      font-family:  'Sora', sans-serif;
      background: #000;
      color: #fff;
      line-height: 1.6;
    }

    a { color: inherit; text-decoration: none; }

    /* Navbar */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px;
    }

    header h1 { font-size: 26px; }
    html {
     scroll-behavior: smooth;
    }

    nav a {
      margin-left: 30px;
      font-weight: 500;
    }

    /* Hero */
  .hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.hero h2 {
  font-size: 64px;
  font-weight: 600;
}

.hero h2 span {
  color: #ff0055;
}


.hero p {
  font-size: 26px;
  margin-top: 20px;
  color: #fff;
}


    /* About */
  .about {
  padding: 80px 10%;
  display: flex;
  gap: 60px;
  align-items: center;
}


    .about img {
      width: 300px;
      border-radius: 20px;
      background: #333;
      padding: 15px;
    }

    .about h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .highlight { color: #ff0055; }

    /* Tabs */
    .tabs {
      display: flex;
      gap: 30px;
      margin: 25px 0;
    }

    .tabs span {
      cursor: pointer;
      font-weight: 500;
      color: #aaa;
    }

    .tabs span.active {
      color: #ff0055;
      border-bottom: 2px solid #ff0055;
      padding-bottom: 5px;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

    .tab-content ul li {
      margin: 10px 0;
    }

    /* Projects */
    .projects {
      padding: 100px 80px;
    }

    .projects h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }

    .project-card {
      background: #111;
      border-radius: 15px;
      padding: 20px;
      text-align: center;
    }

    .project-card img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .btn {
      display: inline-block;
      margin-top: 30px;
      padding: 12px 30px;
      border: 2px solid #ff0055;
      border-radius: 8px;
    }

    /* Contact */
    .contact {
      padding: 100px 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }

    .contact h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .contact-info p {
      margin: 10px 0;
    }

    form input, form textarea {
      width: 100%;
      background: #222;
      border: none;
      padding: 15px;
      color: #fff;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    form button {
      background: #ff0055;
      border: none;
      padding: 14px 40px;
      color: #fff;
      border-radius: 8px;
      cursor: pointer;
    }

    footer {
      text-align: center;
      padding: 30px;
      color: #aaa;
    }

   @media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}